.chartCard {
    grid-column: span 2;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.chartContainer {
    flex: 1;
    width: 100%;
    height: 350px;
}

@media (max-width: 1024px) {
    .chartCard {
        grid-column: span 1;
    }
}